<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.matryx_type }}</td>
    </tr>
  <tr>
      <td>Процессор</td>
      <td>{{ product.processor }}</td>
    </tr>
  <tr>
      <td>Тактовая частота процессора</td>
      <td>{{ product.frequency }}</td>
    </tr>
  <tr>
      <td>Количество оперативной памяти</td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Количество памяти телефона</td>
      <td>{{ product.memory }}</td>
    </tr>
  <tr>
      <td>Камера</td>
      <td>{{ product.camera }}</td>
    </tr>
  </tbody>
</table>

